.navbar .navbar-brand{
color: chocolate;
font-size: medium;

}
.bg-dark{
    background-color: black !important;
}
.nav-link{
    color: white;
    text-transform: uppercase;
    transition: color 1sn ease;
}

.nav-link:hover{
    color: chocolate !important;

}


/* HEADER */ 

#headerSection{
    background: url('../imgs/background.jpg') no-repeat center center fixed;
    background-size: cover;
    height:100vh;
}

#headerSection .row{
    height: 100vh;
}

#headerSection .overlay{
    background-color: rgba(0,0,0, .7);

}

h1 span{
    color: chocolate;
}

.btn-outline-success{
    weight:100px;
    height:70px;
padding: 20px;
margin:20px;
    cursor: pointer;
}

/* GENERAL */

h3{
    font-size: 23px;
    font-weight: 500;
}



/* FEATURES */

#features .fa{
    font-size: 40px;
}
.features-top{
    transition: color .5s ease;
}
.features-top:hover{
        color:chocolate;
        cursor: pointer;

}
/*aciklama */

#aciklama h2{

    border-left: 6px solid chocolate;
    padding-left: 30px;
}

#aciklama .col-md-6{
 display: inline;
}

#aciklama .btn-outline-success{
    position: absolute;
    bottom: 0;
}
#aciklama h2{
    font-size: 28px;
    color:chocolate;
    text-transform: uppercase;
    font-weight: 400px; 
}

#aciklama p{
    line-height: 28px;
}

/* takim */

#takim .card{
    margin-top: 70px;
    border: none;
    opacity: 0.5s;
    cursor: pointer;
    transition: all 0.5s ease;
}

#takim .card:hover{
    opacity: 1;
}

#takim .fa{
        font-size: 24px;
}

/* video */

#video{
    background: url(../imgs/background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#video h2{
    color: white;
}
#video p{
    color: white;
}
#portfo p{
    color: white;
    size:30px;
}
#portfo h4{
    color: white;
    size:45px;
}


#portfo .col-md-3{
 padding-left: 0;
 padding-right: 0;
 text-align: center;

}
#portfo h4{
    font-weight: 300;
    font-size: 18px;
}

#portfo fa{
    font-size: 24px;
    margin-bottom: 20px;
}

#portfo p{
    font-weight: 300;
    font-size: 14px;
}

.imgcontainer{
    position: relative;
    cursor: pointer;

}
.img-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    weight:100%;
    background-color: tomato;
    opacity: 0;
    transition: 1s ease;
}


.imgcontainer:hover .img-overlay{
    opacity: .7;
}

.img-text{
    font-size: 20px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#iletisim{
    background-color: #f4f5f9;
}
#iletisim .input-group-addon{
    width: 50px;
    background-color: chocolate;

}
#iletisim .btn{
    background-color: chocolate;
}

#footer{
    color: white;
    background-color: black;
    padding-left:12%;
}